<p id="notice"><%= notice %></p>

<p>
  <b>Draft:</b>
  <%= @draft.draft %>
</p>

<p>
  <b>Status:</b>
  <% if @draft.use %>
    <font style="color:green">active</font>
  <% else %>
    <font style="color:red">inactive</font>
  <% end %>
</p>


<%= link_to 'Edit', edit_draft_path(@draft) %> |
<%= link_to 'Back', drafts_path %>
